/*  your css code here. If applicable */
body{
	background-color:rgb(204,204,204);
	font-family: Arial, Helvetica, sans-serif;
}
#list{
	background-color:white;
	border:2px solid black;
	border-radius:10px;
	padding:20px;
	margin:20px;
	list-style-type:none;
}
ul>li{
	padding:2px;
}
a{
	text-decoration-line:none;
}
#container{
	background-color:rgb(255,255,255);
	border:2px solid black;
	border-radius:10px;
	padding:10px;
	margin:0px 50px 0px 50px;
}
.player_one{
	background-color:rgb(255,255,255);
}
.player_two{
	background-color:rgb(255,255,255);
}